
.container {
  background-color: #4d7480;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.about-me {
  padding: 35px;
  width: 75%;
}

.name {
 font-size: 23px;
padding-right: 660px;
color: black;

}

.topnav {
  background-color: #b1e2eb;
  overflow: hidden;
  display: flex;
  justify-content: right;
  padding: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.topnav a {
  padding: 14px;
  font-size: 23px;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.topnav a:active {
  background-color: grey;
  color: white;
}

.contact-form {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-top: 50px;
}

footer {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 25px;
}

 .marvel {
  border-style: solid;
  align-items: center;
  text-align: center;
 }

 .daycare {
  border-style: solid;
  align-items: center;
  text-align: center;
 }
 
 .marvel a {
  color: white;
}

.daycare a {
  color: white;
}

