.container {
  background-color: #64abad;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.about-me {
  padding: 35px;
  width: 75%;
}

.name {
  font-size: 23px;
  padding-right: 650px;
  color: #025b5e;
}

.topnav {
  background-color: #b1e2eb;
  overflow: hidden;
  display: flex;
  justify-content: right;
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.topnav a {
  padding: 14px;
  font-size: 23px;
  color: #025b5e;
}

.topnav a:hover {
  background-color: rgb(109, 240, 240);
  color: black;
}

.topnav a:active {
  background-color: #4d7480;
  color: white;
}

.contact-form {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-top: 50px;
}

footer {
  background-color: #b1e2eb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 25px;
}

.portfolio-container {
  background-color: #64abad;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 80%;
}

.project-container {
  border-style: solid;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.project-container a {
  color: white;
}

.project-title {
  background-color: #64abad;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

span {
  color: black;
  font-size: 15px;
}


@media screen and (max-width: 768px) {
 
  main,
  nav {
    flex-direction: column;
  }
}
